*, *::after, *::before {box-sizing: border-box; }

  html{	font-family: Montserrat;}

@font-face {
	font-family: 'HelloHoney';
	src: url('/assets/fonts/hello\ honey.otf'); /* IE9 Compat Modes */
  }

 .helloHoney{font-family: 'HelloHoney';}


h1{
	text-align: center;
	font-family: 'HelloHoney';
	margin-top: .1rem;
	padding-top: .5em;
}
h2, h3, h4, h5, h6{
	text-align: center;
	font-family: 'HelloHoney';
	margin-top: 3rem;
}

h1 { font-size: 3.5em; }

@media only screen and (max-width: 1200px) {
	h1 { font-size: 3em; }
}

@media only screen and (max-width: 420px) {
	h1 { font-size: 1.7em; }
}
@media only screen and (max-width: 370px) {
	h1 { font-size: 1.7em; }
}
@media only screen and (max-width: 370px) {
	h1 { font-size: 1.4em; }
}
@media only screen and (max-width: 310px) {
	h1 { font-size: 1.2em; }
}

p {
	font-size: 1.1rem;
	line-height: 1.8rem;
	font-weight: 300;
  }

p::first-letter {
	font-size: 300%;
	color: pink;
	font-weight: 600;
}
  
li{	padding-left: .5rem;}


.packageBullet li{
	padding-bottom: .5rem;;
}

ol, ul {
    padding-left: 0rem;
	text-align: left;
}

/***********************************************************/
/*                      NAVIGATION                         */
/***********************************************************/
#mainNav {
	height:155px;
	background-image: url("/assets/img/blb/BLB_Rounded\ Tagline.jpeg"), url("/assets/img/blb/BLB_confetti.jpeg");
	background-size: 130px 118px, cover;
	background-position:center;	
	background-repeat:no-repeat, no-repeat;
	background-color: #FEFEFA;
	font-weight: 450;	
}

a:hover{box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;}

/****** NAVIGATION Collapse Button *****/ 
.navbar-toggler{
	margin-top: 3.5rem;
	margin-left: 1rem;	
}

/****** NAVIGATION  DROP DOWN MENU *****/ 
.navbar-nav {
    padding-left: 1.2rem;
	padding-bottom: 0;
	margin-top: 2rem;
	background-color:whitesmoke;
	width: 30%;
	color: black;
}

/****** Overwrite _navbar.scss nav links in drop down menu *****/ 
.navbar-light .navbar-nav .nav-link{ color: black;}

.navbar-light .navbar-toggler{
	color: black;
	border: 1px solid black;
	background-color: white;
}

.navbar-toggler {padding:.4rem;}

#navIcon {height: 60px; width: 60;}

@media only screen and (max-width: 350px) {
	#navIcon{
		height: 45px;
		width: 45px;
	}
}

/***********************************************************/
/*                      CONTAINERS                         */
/***********************************************************/
.container {
    margin-top: 2rem;
    width: 90vw;
	padding:0rem 2rem;
 }


#containerText {
	margin-top:2rem;
	margin-bottom: 2rem;
	padding-bottom: 1rem;;
	width: 60vw;
	box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;	
}

#containerContent {
	width:40vw;
	margin: 14rem auto 3rem auto;	
}



/***********************************************************/
/*                      PAGE LOADER                        */
/***********************************************************/

.preloader {
	align-items: center;
	background: rgb(23, 22, 22);
	display: flex;
	height: 100vh;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 8rem;
	transition: opacity 0.2s linear;
	width: 100%;
	z-index: 9999;
  }

  









  /*---------------------------------------------*/
  a {
	  font-family: JosefinSans-Bold;
	  font-size: 14px;
	  line-height: 1.7;
	  color: #666666;
	  margin: 0px;
	  transition: all 0.4s;
	  -webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
  }
  
  a:focus {
	  outline: none !important;
  }
  
  a:hover {
	  text-decoration: none;
  }

    

