/* Show it is fixed to the top */

@font-face {
	font-family: 'HelloHoney';
	src: url('/assets/fonts/hello\ honey.otf'); /* IE9 Compat Modes */
  }

html{
	font-family: Montserrat;
}

  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
	text-align: center;
	font-family: 'HelloHoney';
	margin-bottom: 0;
}

.helloHoney{
	font-family: 'HelloHoney';
}

/***********************************************************/
/*                      NAVIGATION                         */
/***********************************************************/
#mainNav {
	height:155px;
	background-image: url("/assets/img/blb/BLB_Rounded\ Tagline.jpeg"), url("/assets/img/blb/BLB_confetti.jpeg");
	background-size: 130px 118px, cover;
	background-position:center;	
	background-repeat:no-repeat, no-repeat;
	background-color: #FEFEFA;
	font-weight: 450;	
}

a:hover{
	box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.navbar-toggler{
	margin:.7rem;
	padding: 1.2rem;;
}
.navbar-light .navbar-nav .nav-link{
	color: black;
}



/***********************************************************/
/*        NAVIGATION   DROP DOWN MENU                      */
/***********************************************************/
.navbar-nav {
	line-height: 1.5;
    padding-left: 1.2rem;
	padding-bottom: 0;
	margin-top: .3rem;
	background-color:whitesmoke;
	width: 35%;
}


@media (max-width: 720px) {
	#mainNav .navbar-toggler {
		font-size: 100%;
		padding: 0.6rem;
	}
}

@media (max-width: 600px) {
	.navbar-brand {
		display: inline-block;
		padding-top: 0.3125rem;
		padding-bottom: 0.3125rem;
		margin: 1rem;
		font-size: 18px;
		line-height: inherit;
		white-space: nowrap;
	}
}

@media (max-width: 430px) {
	.navbar-brand {
		display: inline-block;
		padding-top: 0.3125rem;
		padding-bottom: 0.3125rem;
		margin: 0.2rem;
		font-size: 0.8rem;
		line-height: inherit;
		white-space: nowrap;
	}
}


/***********************************************************/
/*                      CONTAINERS                         */
/***********************************************************/

#containerHeader{
	width:65vw;
	margin: 11rem auto 5rem auto;
}

#containerCarousel{
	width:65vw;
	margin: 11rem auto 5rem auto;
}

#containerText{
	margin-top:11rem;
	margin-bottom: 2rem;
	width: 90vw;
}

#containerText img{
	object-fit: cover;
}

#containerPackagesText{
	margin-top: 11rem;
	width: 85vw;	
}

.shadow-1 {
    box-shadow: 0 0.25rem 0.125rem 0 rgb(0 0 0 / 3%);
}
 .container {
    margin-top: 3rem;
    width: 90vw;
 }

p {
  line-height: 1.5;
  font-weight: 300;
}

li{
	padding-left: .5rem;
}

